.articulo3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

.titulo1 {
    text-align: center;
    margin: 2rem;

}

.texto1 {
    text-align: center;
    margin: 2rem ;
}

.titulo2 {
    text-align: center;
}

.texto2 {
    text-align: center;
    margin: 2rem;
}

.imagen {
    width: 50%;
    height: 40%;
    align-items: center;
    font-size: xx-large;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}